@page "/"

<PageTitle>About Me</PageTitle>

<body>
    <h1>Weslee Shear</h1>
        <div style="float: right">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1024505024598003822/bird.png" width=700px, height=700px> 
            <p style="text-align: center">
                A picture of my bird, I didn't have a good photo on file.
            </p>
            
        </div>
        
        <p>
            I'm (technically?) a student at both University of Montana and Montana Tech, 
            apart of the Pre-Engineering course shared between the two. Given 4 years, I'll 
            done with the 'pre' of engineering and will be onto (eventually) nabbing myself
            a Master's in Mechanical Engineering, and I hope a Bachelor's in Software Engineering
            or Computer Sciences.
        </p>

    <h2>What I do</h2>

        <p>
            If you couldn't guess from the non-Wix or Google Sites page, I'm quite into programming.
            In order of languages coming to mind, I know:
        </p>
        
        <div style="display: inline-flex; flex-direction:row">
            <div class="codelangs">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" width="30", height="30">
                <p style="font-size: 24px">Python</p>
                </div>
            <div class="codelangs">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-plain.svg" width="30", height="30">
                <p style="font-size: 24px">C#</p>
            </div>
            <div class="codelangs">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" width="30", height="30">
                <p style="font-size: 24px">Javascript</p>
            </div>
            <div class="codelangs">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain-wordmark.svg" width="30", height="30">
                <p style="font-size: 24px">HTML</p>
            </div>
        </div>

        <p>
            <br />
            And as Honorable Mentions, although these tend to be pretty specific or subsets of languages,
            they're vital tools in my opinion. These are:
        </p>

        <ul>
            <li>Unity (The engine, I started during C#)</li>
            <li>Godot (Both the engine and the language)</li>
            <li>Blender</li>
            <li>Git</li>
            <li>Command Line/Batch/Powershell</li>
            <li>CSS</li>
        </ul>

        <p>
            <br />
            For personal projects, I've done my own fair share. I've made a Discord bot, created a MUD, made more
            than a few Unity games, built a site before this one -- really just ask me in person, I'd love to share.
        </p>
        <p>
            If you're surprised I went into Mechanical Engineering with all this software knowledge on my hips,
            you're in the same mindset as me in 2021. I decided to go into Mechanical Engineering because I don't
            want to spend 4 years learning something I already know enough to get a job in. I'd rather spend my time
            learning something entirely new. Something to keep me excited about school.
        </p>
</body>