@page "/"

<PageTitle>About Me</PageTitle>

<body>
    <h1>Weslee Shear</h1>
    <div style="display: flex; flex-direction: row">
        <div style="float: right"> 
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1042133242557497465/selfpic.png" width=700px, height=700px> 
            <p style="text-align: center">
                Me at Montana Model UN, 2022. Not pictured is my partner/coach, Emily Van Hoose.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a self driven Computer Scientist who got their foot in the waters early with a computer at the age of 4.
                I (obviously) didn't code at 4 years old, it was mostly me getting my first touch, and unless you count the online "Hour of Code" site at 
                the age of 8(which I don't fully) 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I started at the age of 12 with programming, only a little bit of Python, but it had me hooked. When highschool
                came around, I was eager to take classes. By 16 I had more or less fully started to come into my own, comfortably adept with my assignments 
                and starting to strike into my own waters on things to do. Here I am at 18 writing this, with quite toolbelt to myself and an eternal thanks
                to the teachers and peers who motivated me to work harder, smarter, and that it's ok to struggle. 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C's get degrees, A's know the material, and B's show who's trying their best.
                <br>
                <br>
                Wrapping up with interests; I could mention I play videogames, but you'd be hardpressed to find anyone else my age who never has. 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I do digital art with a tablet, host tabletop games of Pathfinder (Currently), FATE Core, GURPS, D&D(3.5,4,5)-- 
                and have been going steady with a long-lived campaign reaching a year and counting.   
            </p>
        </div>

        
        
            <div style="float: right">
                <h2>What I do</h2>

                <p>
                    If you couldn't guess from the non-Wix or Google Sites page, I'm quite into programming.
                    In order of what languages I learned, starting with the first learned, I know:
                </p>
        
                <div style="display: inline-flex; flex-direction:row">
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" width="30", height="30">
                        <p style="font-size: 24px">Python</p>
                        </div>
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-plain.svg" width="30", height="30">
                        <p style="font-size: 24px">C#</p>
                    </div>
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-plain.svg" width="30", height="30">
                        <p style="font-size: 24px">C++</p>
                    </div>
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-plain.svg" width="30", height="30">
                        <p style="font-size: 24px">Java</p>
                    </div>
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain.svg" width="30", height="30">
                        <p style="font-size: 24px">HTML</p>
                    </div>
                    <div class="codelangs">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" width="30", height="30">
                        <p style="font-size: 24px">Javascript</p>
                    </div> 
                </div>
    
                    <p> And currently, I'm slowly learning <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sqlite/sqlite-plain.svg" width="30", height="30"> 
                        SQL!
                    </p> 
                
                <p>
                    <br />
                    And as Honorable Mentions, although these tend to be pretty specific or subsets of languages,
                    these are still significant enough to be worth mentioning. These are:
                </p>

                <ul>
                    <li>Unity (The engine, I started during the C# era)</li>
                    <li>Godot (Both the engine and the language)</li>
                    <li>Blender</li>
                    <li>Git</li>
                    <li>Command Line/Batch/Powershell</li>
                    <li>CSS</li>
                    <li>Markdown/LaTeX</li>
                </ul>

                <p>
                    <br />
                    For personal projects, I've done my own fair share. I've made a Discord bot, created a MUD, made more
                    than a few Unity games, built 2 sites before this one -- really just ask me in person, I'd love to share.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Originally I had planned to do Mechanical Engineering when I joined UM. I intended to take the Pre-Engineering course, but it was only
                    during the academic planning phase that I realized that goal might be nigh impossible without having to transfer starting at year 2 rather than 3. 
                    I had to go through my own fair bit of soul searching and think what I'd want to do with my life. I had decided on it because it would challenge me, 
                    but I hadn't known whether or not it would have been fulfilling for me. Thus, I decided that I should instead follow my passion and go for Comp-Sci.
                    I've friends online who've gone similar routes, and furthermore this would be an educational track that I could pursue fully at UM -- meaning there
                    would be no additional hoops or possibilities of graduating without honors dignification.
                </p>
            </div>
    </div>
</body>
