@page "/academicplan"

<PageTitle>Planned Classes</PageTitle>

<body>
    <h2>Semester 1</h2>
    <table style="width:100%">
        <tr>
            <th>Class Name</th>
            <th>Course Number</th>
        </tr>
        <tr>
            <td>Calculus I</td>
            <td>M 171</td>
        </tr>
        <tr>
            <td>Fundamentals of Physics with Calculus I</td>
            <td>PHSX 215N</td>
        </tr>
        <tr>
            <td>Physics Lab I w/Calculus</td>
            <td>PHSX 216N</td>
        </tr>
        <tr>
            <td>Intro to Engineering Calculation & Problem Solving</td>
            <td>EGEN 101</td>
        </tr>
        <tr>
            <td>Introduction to Honors</td>
            <td>HONR 120</td>
        </tr>
        <tr>
            <td>Ways of Knowing</td>
            <td>HONR 121</td>
        </tr>
    </table>
    <h2>Semester 2</h2>
    <table style="width:100%">
        <tr>
            <td>Calculus II </td>
            <td>M172</td>
        </tr>
        <tr>
            <td>College Writing I </td>
            <td>Writ 101</td>
        </tr>
        <tr>
            <td>Fundamentals of Physics with Calculus II </td>
            <td>PHSX 217N</td>
        </tr>
        <tr>
            <td>Physics Lab II w/Calculus</td>
            <td>PHSX 218N</td>
        </tr>
        <tr>
            <td>Engineering Statics </td>
            <td>EGEN 201</td>
        </tr>
        <tr>
            <td>Interdisciplinary Computer Science II </td>
            <td>CSCI 152</td>
        </tr>
        <tr>
            <td>Honors Seminar</td>
            <td>HONR 394</td>
        </tr>
    </table>
    <h2>Semester 3</h2>
    <table style="width:100%">
        <tr>
            <td>Multivariable Calculus </td>
            <td>M 273</td>
        </tr>
        <tr>
            <td>College Chemistry I </td>
            <td>CHMY 141N</td>
        </tr>
        <tr>
            <td>College Chemistry I Lab </td>
            <td>CHMY 142N</td>
        </tr>
        <tr>
            <td>Intro to Discrete Mathematics</td>
            <td>M 225</td>
        </tr>
        <tr>
            <td>Engineering Mechanics - Dynamics</td>
            <td>EGEN 202</td>
        </tr>
        <tr>
            <td>Intermediate Data Structures and Algorithms</td>
            <td>CSCI 232</td>
        </tr>
        <tr>
            <td>Honors Seminar</td>
            <td>HONR 394</td>
        </tr>
    </table>
    <h2>Semester 4</h2>
    <table style="width:100%">
        <tr>
            <td>Principles of Microeconomics </td>
            <td>201S</td>
        </tr>
        <tr>
            <td>Advanced Data Structures and Algorithms</td>
            <td>CSCI 332</td>
        </tr>
        <tr>
            <td>College Chemistry II</td>
            <td>CHMY 143N</td>
        </tr>
        <tr>
            <td>College Chemistry II Lab</td>
            <td>CHMY 144N</td>
        </tr>
        <tr>
            <td>Circuits I for Engineering</td>
            <td>EELE 201</td>
        </tr>
        <tr>
            <td>Introduction to Differential Equation</td>
            <td>M 274</td>
        </tr>
        <tr>
            <td>Art of Inquiry</td>
            <td>HONR 320E</td>
        </tr>
    </table>
</body>
