@page "/academicplan"

<PageTitle>Planned Classes</PageTitle>

<body>
    <p style="float: right">
Putting together my academic plan was by far the most reflective part of my first 6 weeks of college. It put in perspective that my engineering degree might be harder than I expected, but not because of the course material. Choosing the Pre-Engineering program was my choice initially because of the presumed ease of a somewhat pre-planned route, but I hadn't considered the possibility of starting out at a school that lacks advanced engineering classes. My goal to become a mechanical engineer may have shifted over time as well because of this, as over time I started to consider "What if I changed my Degree?". This wasn't a light question, by any means. Viewing my current academic plan reveals a course load of roughly 18-19 credits a semester for perspective. This is what brushing into Computer Science would look like, with my current load of as many possible Mechanical Engineering courses as I could muster. I'll admit, this plan looks and feels somewhat unrealistic. It shows me reaching both hands into two advanced disciplines along with reaching both feet for my honors dignification. I even briefly considered simply dropping the Honors courses as a whole. Dropping the Honors courses would give me a much lighter load-- dropping the heaviest semester to a measly 18 and others to 16 and 17; but this invited another question at the realization this is a band-aid to a larger, impending issue.

Originally I chose Mechanical Engineering as a challenge, and it's been a delightful one so far. I'm learning a new trade and expanding my horizons, but it's not my only passion. I know people outside of my college life that have gotten degrees in Comp-Sci , and they learned it for the same interest as me, programming. I still have a semester in my Freshman year to tease into comp-sci professionally, but this is something I'm only now starting to strongly consider. In regards to my "planned" course load, I've taken off more than I can chew-- but I have yet to bite in. 

Doubly so, I'm still somewhat blind in the topic of my Montana Tech classes for semesters 5-8. All I'm able to consider is these first 4 semesters and where to go from there, and what to specialize in. Seeing the full 4 years of mechanical engineering is furthermore quite daunting, where I would be at a full 18 credits, but unlikely to pursue anything outside of that -- specifically Comp-Sci. Where the pursuit of such a degree that shows a 4 year list of classes that rarely exceeds 16 credits, leaving ample room for electives, honors courses, and further enriching experiences. I would be lying if I didn't say however, that the average salary of a mechanical engineer wasn't wildly tempting. Money is always going to be a reason for pursuit, but I don't want it to be the only one.

I plan, as time goes on, to definitely edit this plan as I approach a realization of my future; but I want to say in finality that this project opened my eyes to an issue I was blindly ignoring -- falsely believing that because I was in a program, that I hadn't need to worry about any planning for my courses. I'll apologize bluntly for only planning out four of eight semesters on paper, but I strongly believe that I need time into my second semester to dip my toes in to Comp-Sci and fully decide what my future holds. Anything planned right now, these months, would be unrealistic and possibly dashed to the winds.
    </p>
    <div>
    <h2>Semester 1</h2>
    <table style="width:100%">
        <tr style="color: #A5A8EA">
            <th>Class Name</th>
            <th>Course Number</th>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Calculus I</td>
            <td>M 171</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Fundamentals of Physics with Calculus I</td>
            <td>PHSX 215N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Physics Lab I w/Calculus</td>
            <td>PHSX 216N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Intro to Engineering Calculation & Problem Solving</td>
            <td>EGEN 101</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Introduction to Honors</td>
            <td>HONR 120</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Ways of Knowing</td>
            <td>HONR 121</td>
        </tr>
    </table>
    <h2>Semester 2</h2>
    <table style="width:100%">
        <tr style="color: #A5A8EA">
            <th>Class Name</th>
            <th>Course Number</th>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Calculus II </td>
            <td>M172</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>College Writing I </td>
            <td>Writ 101</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Fundamentals of Physics with Calculus II </td>
            <td>PHSX 217N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Physics Lab II w/Calculus</td>
            <td>PHSX 218N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Engineering Statics </td>
            <td>EGEN 201</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Interdisciplinary Computer Science II </td>
            <td>CSCI 152</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Honors Seminar</td>
            <td>HONR 394</td>
        </tr>
    </table>
    <h2>Semester 3</h2>
    <table style="width:100%">
        <tr style="color: #A5A8EA">
            <th>Class Name</th>
            <th>Course Number</th>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Multivariable Calculus </td>
            <td>M 273</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>College Chemistry I </td>
            <td>CHMY 141N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>College Chemistry I Lab </td>
            <td>CHMY 142N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Intro to Discrete Mathematics</td>
            <td>M 225</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Engineering Mechanics - Dynamics</td>
            <td>EGEN 202</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Intermediate Data Structures and Algorithms</td>
            <td>CSCI 232</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Honors Seminar</td>
            <td>HONR 394</td>
        </tr>
    </table>
    <h2>Semester 4</h2>
    <table style="width:100%">
        <tr style="color: #A5A8EA">
            <th>Class Name</th>
            <th>Course Number</th>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Principles of Microeconomics </td>
            <td>201S</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Advanced Data Structures and Algorithms</td>
            <td>CSCI 332</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>College Chemistry II</td>
            <td>CHMY 143N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>College Chemistry II Lab</td>
            <td>CHMY 144N</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Circuits I for Engineering</td>
            <td>EELE 201</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Introduction to Differential Equation</td>
            <td>M 274</td>
        </tr>
        <tr style="color: #D3D3f3">
            <td>Art of Inquiry</td>
            <td>HONR 320E</td>
        </tr>
    </table>
    </div>
</body>
