@page "/academicplan"

<PageTitle>Planned Classes</PageTitle>

<body>
    <div style="display: flex; flex-direction: column">
        <div class="semesterSet">
            <div class="autumnSem">
                <h2>Semester 1</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Calculus I</td>
                        <td>M 171</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Fundamentals of Physics with Calculus I</td>
                        <td>PHSX 215N</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Physics Lab I w/Calculus</td>
                        <td>PHSX 216N</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Engineering Calculation & Problem Solving</td>
                        <td>EGEN 101</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Introduction to Honors</td>
                        <td>HONR 120</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Ways of Knowing</td>
                        <td>HONR 121</td>
                    </tr>
                </table>
            </div>
            <div class="springSem">
                <h2>Semester 2</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Calculus II </td>
                        <td>M172</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>College Writing I </td>
                        <td>Writ 101</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Fundamentals of Physics with Calculus II </td>
                        <td>PHSX 217N</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Physics Lab II w/Calculus</td>
                        <td>PHSX 218N</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Engineering Statics </td>
                        <td>EGEN 201</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Interdisciplinary Computer Science II </td>
                        <td>CSCI 152</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="semesterSet">
            <div class="autumnSem">
                <h2>Semester 3</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intermediate Data Structures and Algorithms</td>
                        <td>CSCI 232</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Discrete Mathematics</td>
                        <td>M 225</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Honors Seminar</td>
                        <td>HONR 394</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Programming with C/C++</td>
                        <td>CSCI 205</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Computation in Sci. w/ Calc.</td>
                        <td>CSCI 126</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Psychology</td>
                        <td>PSYX 100S</td>
                    </tr>
                </table>
            </div>
            <div class="springSem">
                <h2>Semester 4</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Web Application Development</td>
                        <td>CSCI 258</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Advanced Data Structures and Algorithms</td>
                        <td>CSCI 332</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Database Design</td>
                        <td>CSCI 340</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Ways of Knowing II</td>
                        <td>HONR 122E</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Art of Inquiry</td>
                        <td>HONR 320E</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="semesterSet">
            <div class="autumnSem">
                <h2>Semester 5</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Computers, Ethics, and Society</td>
                        <td>CSCI 315E</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Planetary Astromy and lab</td>
                        <td>ASTR 131N/134N</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Advanced Web Application Development</td>
                        <td>CSCI 322</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Modern Physics</td>
                        <td>PHSX 343</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Computation in Sci. w/ Calc.</td>
                        <td>CSCI 126</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Psychology</td>
                        <td>PSYX 100S</td>
                    </tr>
                </table>
            </div>
            <div class="springSem">
                <h2>Semester 6</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Advanced Algorithm Topics</td>
                        <td>CSCI 432</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Special Topics</td>
                        <td>CSCI 291</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Careers in Computer Science</td>
                        <td>CSCI 106</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="semesterSet">
            <div class="autumnSem">
                <h2>Semester 7</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Technical Drafting</td>
                        <td>DDSN 113A</td>
                    </tr>
                </table>
            </div>
            <div class="springSem">
                <h2>Semester 8</h2>
                <table style="width:100%">
                    <tr style="color: #A5A8EA">
                        <th>Class Name</th>
                        <th>Course Number</th>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Senior Thesis/Capstone</td>
                        <td>CSCI 499</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Intercultural Com</td>
                        <td>COMX 212X</td>
                    </tr>
                    <tr style="color: #D3D3f3">
                        <td>Intro to Rhetorical Theory</td>
                        <td>COMX 240H</td>
                    </tr>
                </table>
            </div>
        </div>
        

    </div>

        <div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Writing an academic plan sure was a hurdle. I've changed this maybe 2 times, one of which I completely changed
                my associated major. I had originally planned to go to Montana Tech after 2 years -- get a Mechanical Engineering
                degree and go from there; but when I was confronted with the reality that the transfer would leave me 2 years behind,
                I decided to make due.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I went with Comp. Sci, a degree I was already somewhat keen on (infact, with my mech. engi degree I had wanted atleast
                a minor in software engineering or a similar field). I'm quite excited infact, programming already being a passion and
                although I originally was a bit damaged emotionally from the realization I wouldn't be an engineer, I soon recovered with
                joy in my heart knowing I had no excuse not to substantiate my desire to be a programmer in a professional respect. I'm
                admittedly a little smug about it too, knowing the first few semesters will be subjects I already know, but need credits on.
                But I still see it as a learning opportunity. e.g., I already know C# from game dev in Unity but I could stand to know more.
            </p>
        </div>
</body>
