@page "/creativepieces"

<PageTitle>I Am From</PageTitle>

<body>
    <div class="poemContainer">
        <div class="collageLeft">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612499296817202/left_collage.png" width=100%> 
        </div>
        <div class="poem">
            <p style="text-align: center">
                <i>
                    I am from bed. <br>
                    <br>
                    From dusk to dawn,<br>
                    I am from the creeking floor in the dark,<br>
                    a night owl uncomfortable with the buzz of tinnitus.<br>
                    <br>
                    <br>
                    I am from avocados grown in shot glasses, a product of passion and interest.<br>
                    <br>
                    I'm from scallions grown from leftover scraps<br>
                    and <br>
                    Taking pictures when anything successfully blooms.<br>
                    <br>
                    <br>
                    I'm from the desire to make change for the positive<br>
                    but without making a wave.<br>
                    <br>
                    From "The Golden Rule", to "Do Unto Others", and<br>
                    an understanding that stress and failure are ok.<br>
                    <br>
                    I'm from morality over substance,<br>
                    that being present for others and empethetic is more important than any worship.<br>
                    <br>
                    <br>
                    I'm from birdwatching in the backyard,<br>
                    Never one to peacock or stand out<br>
                    But to watch, and listen.<br>
                    <br>
                    I'm from the passion of making 49 cent ramen with 12 dollar salmon cuts<br>
                    And from cooking food warm enough, I can show others how they make me feel.<br>
                    <br>
                    From growing up without a Father<br>
                    but with the ideals of one to stand by;<br>
                    <br>
                    And a much more kindly Mother and Sister to walk with me.
                </i>
            </p>
        </div>
        <div class="collageRight">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612498864812102/right_collage.png" width=100%> 
        </div>
    </div>

    <div class="honorablePiece" style="display:flex; flex-direction:row-reverse">
        <div style="flex: 1">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1042097183295553638/honor_background.png" width=100% style="border: 5px solid #A5A8EA;">
        </div>
        <div style="flex: 1; align-items: center">
            <p style="text-align: center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My honorable piece was made somewhat ambitiously from a single point of inspiration. I feel 
                asthough perhaps I could have developed the message to be more visible somewhat, and although I may favor the intial sketches 
                a bit more, I am pleased with how it came out. When picturing the word "honorable", what comes to mind is an unadultered display 
                of the self. The concept that to do your greatest work, you must show the greatest parts of yourself. This somewhat contorted 
                mannequin rising from a space of gold, into a darker void and reaching to the light above. Tearing skin from themselves to show 
                their nature of flesh. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I don't believe every task permits or asks for such a grandiouse, but those that matter to you 
                should. Regardless of how others may view the task, it's solely up to the actor in question of if they can muster the willpower 
                to put themselves out.
            </p>
        </div>
    </div>
    
</body>
