@page "/creativepieces"

<PageTitle>Creative Works</PageTitle>

<body>
    <div class="poemContainer">
        <div class="collageLeft">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612499296817202/left_collage.png" width=100%> 
        </div>
        <div class="poem">
            <p style="text-align: center">
                <i>
                    I am from bed. <br>
                    <br>
                    From dusk to dawn,<br>
                    I am from the creeking floor in the dark,<br>
                    a night owl uncomfortable with the buzz of tinnitus.<br>
                    <br>
                    <br>
                    I am from avocados grown in shot glasses, a product of passion and interest.<br>
                    <br>
                    I'm from scallions grown from leftover scraps<br>
                    and <br>
                    Taking pictures when anything successfully blooms.<br>
                    <br>
                    <br>
                    I'm from the desire to make change for the positive<br>
                    but without making a wave.<br>
                    <br>
                    From "The Golden Rule", to "Do Unto Others", and<br>
                    an understanding that stress and failure are ok.<br>
                    <br>
                    I'm from morality over substance,<br>
                    that being present for others and empethetic is more important than any worship.<br>
                    <br>
                    <br>
                    I'm from birdwatching in the backyard,<br>
                    Never one to peacock or stand out<br>
                    But to watch, and listen.<br>
                    <br>
                    I'm from the passion of making 49 cent ramen with 12 dollar salmon cuts<br>
                    And from cooking food warm enough, I can show others how they make me feel.<br>
                    <br>
                    From growing up without a Father<br>
                    but with the ideals of one to stand by;<br>
                    <br>
                    And a much more kindly Mother and Sister to walk with me.
                </i>
            </p>
        </div>
        <div class="collageRight">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612498864812102/right_collage.png" width=100%> 
        </div>
    </div>

    <div class="honorablePiece" style="display:flex; flex-direction:row-reverse">
        <div style="flex: 1">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1042097183295553638/honor_background.png" width=100% style="border: 5px solid #A5A8EA;">
        </div>
        <div style="flex: 1; align-items: center">
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My honorable piece was made somewhat ambitiously from a single point of inspiration. I feel 
                asthough perhaps I could have developed the message to be more visible somewhat, and although I may favor the intial sketches 
                a bit more, I am pleased with how it came out. When picturing the word "honorable", what comes to mind is an unadultered display 
                of the self. The concept that to do your greatest work, you must show the greatest parts of yourself. This somewhat contorted 
                mannequin rising from a space of gold, into a darker void and reaching to the light above. Tearing skin from themselves to show 
                their nature of flesh. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I don't believe every task permits or asks for such a grandiouse, but those that matter to you 
                should. Regardless of how others may view the task, it's solely up to the person in question if they can muster the willpower 
                to put themselves out. It's always possible to succeed, but impossible to excel when your heart isn't in it.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="supplementOne" style="display:flex; flex-direction:row">
        <div style="flex: 1">
            <iframe src="https://drive.google.com/file/d/1a_fArX6NXIHwQahCJ6ZjbqVxQwO9e7ry/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
        <div style="flex: 1; align-items: center">
            <p style="text-align: left">
                Sound warning, there's no ambient sound and the noise for shooting is quite loud. 
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; One of my supplementary pieces, my VR class final where I made a short game that was mostly just
                a shooting demo. I'd say I'm pretty happy with the final product, it was very much a short dumb-fun game, and I briefly considered
                expanding on it even after the due date. Further pleasing to myself was I had written a good majority of the code on display. The 
                button, the door animations, the locking system, the gun, scoring, etc. The audio being from two places, the shooting noise being 
                an iconic blast from Starwars, and the hit ping being the Crit sfx from Team Fortress 2. <br>
                Fun fact, I actually sent this to Cassens about a little less than a year ago! I plan to take some of his courses and wanted to 
                make interest known.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="supplementTwo" style="display:flex; flex-direction:row-reverse">
        <div style="flex: 1">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1042230659869065297/keporiSprites.png" width=100%>
        </div>
        <div style="flex: 1; align-items: center">
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These next two pieces are more of my own experience of personal game development and coding -- the first of
                which being a very large spritesheet I had made to help a friend with development for their codebase. They're sprites of a species
                based on Troodons, a neat dinosaur species in my opinion. My work consisted of tweaking the base sprite to be more pleasurable, 
                creating some of the concept art, and doing a good 10 hair sprites + directionals, and some of the sprites for equippable items (the
                blob of green and red in the top left. Items have a color pallet and paint over the RGB on the sprites via hueshifting).
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="supplementThree" style="display:flex; flex-direction:column-reverse; align-items: center" >
        <div style="display:flex; flex-direction:row">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1042239699391090739/bot_demo.png" width=100%>
        </div>
        <div style="flex: 1; align-items: center">
            <p style="text-align: center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This one was a doozy, I made both a site and "bot" to play and host a tabletop game called Fate. 
                Imagine Dungeons and Dragons but with even less popularity. In short, the site lets you fill in a bunch of fields, put in an image,
                add a name (In this example, one character in a game named "Keeko"), and then through the messageboard site Discord, I can use a bot 
                built off the Redbot API and boilerplate to create the required python code to pull data from the messaging player, run it through whatever
                command was needed, and spit out the results.
            </p>
        </div>
    </div>
</body>
