@page "/iamfrom"

<PageTitle>I Am From</PageTitle>

<body>
    <div class="poemContainer">
        <div class="collageLeft">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612499296817202/left_collage.png" width=700px, height=700px> 
        </div>
        <div class="poem">
            <p style="text-align: center">
                <i>
                    I am from bed. <br>
                    <br>
                    From dusk to dawn,<br>
                    I am from the creeking floor in the dark,<br>
                    a night owl uncomfortable with the buzz of tinnitus.<br>
                    <br>
                    <br>
                    I am from avocados grown in shot glasses, a product of passion and interest.<br>
                    <br>
                    I'm from scallions grown from leftover scraps<br>
                    and <br>
                    Taking pictures when anything successfully blooms.<br>
                    <br>
                    <br>
                    I'm from the desire to make change for the positive<br>
                    but without making a wave.<br>
                    <br>
                    From "The Golden Rule", to "Do Unto Others", and<br>
                    an understanding that stress and failure are ok.<br>
                    <br>
                    I'm from morality over substance,<br>
                    that being present for others and empethetic is more important than any worship.<br>
                    <br>
                    <br>
                    I'm from birdwatching in the backyard,<br>
                    Never one to peacock or stand out<br>
                    But to watch, and listen.<br>
                    <br>
                    I'm from the passion of making 49 cent ramen with 12 dollar salmon cuts<br>
                    And from cooking food warm enough, I can show others how they make me feel.<br>
                    <br>
                    From growing up without a Father<br>
                    but with the ideals of one to stand by;<br>
                    <br>
                    And a much more kindly Mother and Sister to walk with me.
                </i>
            </p>
        </div>
        <div class="collageRight">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/1034612498864812102/right_collage.png" width=700px, height=700px> 
        </div>
    </div>
    
</body>
