@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!-- <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> -->
        </div>
        <div style="display:flex; flex-direction:column">
            <article class="content px-4">
                @Body
            </article>
            <div style="height: 100px">
                wow
            </div>
        </div>
        
    </main>
</div>
